<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <th:block th:fragment="header">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home">SIMPLE BLOG</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Notice</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/board">Board</a>
                            </li>
                        </ul>
                        <span class="navbar-text"sec:authentication="name"> </span>
                    </div>
                </div>
            </nav>






            <!--


            <nav>
                <ul class="id">
                    <ul class="menu">
                        <li><a href="#">NOTICE</a></li>
                        <li><a href="/board">BOARD 1</a></li>
                        <li><a href="/board">BOARD 2</a></li>
                    </ul>
                    <li>ID : <span sec:authentication="name"></span></li>
                </ul>
            </nav>
            -->
        </header>
    </th:block>
<!--
소유 권한 : <span sec:authentication="authorities"></span> <br>
-->
</html>
