<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/head" :: head></th:block>
<body>
<div class="container">
  <th:block th:replace="fragments/header :: header"></th:block>
  <h3><a href="/board">BOARD 1</a></h3>

  <div th:fragment="search" id="adv-search" class="input-group">
    <input type="text" id="mainSearchKeyword" class="form-control border-end-0 border rounded-pill" th:value="${board.searchKeyword}" placeholder="Search..." />
    <div class="input-group-btn">
      <div class="btn-group" role="group">
        <div class="dropdown dropdown-lg">
          <button type="button" class="btn btn-default dropdown-toggle border rounded-pill" data-bs-toggle="dropdown" aria-expanded="false" style="border: 10px;"><span class="caret"></span></button>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            <form id="searchForm" th:action="@{/board}" method="get" th:onsubmit="return searchBoard(this)" class="form-horizontal" role="form" style="text-align: center;">
              <input type="hidden" name="currentPageNo" value="1" />
              <input type="hidden" name="recordsPerPage" th:value="${board.recordsPerPage}" />
              <input type="hidden" name="pageSize" th:value="${board.pageSize}" />

              <div class="form-group" style="width: 200px">
                <select name="searchType" class="form-control">
                  <option value="" th:selected="${#strings.isEmpty( board.searchType )}">전체</option>
                  <option value="title" th:selected="${#strings.equals( board.searchType, 'title' )}">제목</option>
                  <option value="content" th:selected="${#strings.equals( board.searchType, 'content' )}">내용</option>
                  <option value="writer" th:selected="${#strings.equals( board.searchType, 'writer' )}">작성자</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" name="searchKeyword" class="form-control" th:value="${board.searchKeyword}" />
              </div>
              <button type="submit" class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
        <button type="button" class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" onclick="searchBoard(null)"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>


  <table class="board_list">
    <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col" class="title">Title</th>
      <th scope="col">Time</th>
      <th scope="col">Hits</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
      <td th:text="${list.getId}"></td>
      <td class="title">
        <a href="board/" th:attrappend="href=${list.getId}" th:text="${(list.title)}"></a>
      </td>
      <td th:text="${#temporals.format(list.createdDatetime, 'yyyy-MM-dd HH:mm')}"></td>
      <td th:text="${list.viewCnt}"></td>
    </tr>
    <tr th:unless="${#lists.size(list)} > 0">
      <td colspan="4">조회 결과가 없습니다.</td>
    </tr>
    </tbody>
  </table>
  <div class="btn_wrap text-right" style="float: right;">
    <a href="board/new" class="btn-save waves-effect waves-light">WRITE</a>
  </div>
  <th:block layout:fragment="paging">
    <nav th:replace="fragments/pagination :: pagination"></nav>
  </th:block>
</div>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
      });
      function movePage(uri, queryString) {
        location.href = uri + queryString;
      }
      function searchBoard(form) {
        /*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
        if (form == null || form == "") {
          var searchKeyword = document.getElementById("mainSearchKeyword");
          if (searchKeyword.value == null) {
            alert("Please input a keyword");
            searchKeyword.focus();
            return false;
          }

          form = document.getElementById("searchForm");
          form.searchKeyword.value = searchKeyword.value;
          form.submit();
        }

        if (form.searchKeyword.value.val() == null || (form.searchKeyword.value.val()) == "") {
          alert("Please input a keyword");
          form.searchKeyword.focus();
          return false;
        }
      }
      var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
      var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
        return new bootstrap.Dropdown(dropdownToggleEl)
      })

    </script>
  </th:block>

</body>
</html>