<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head" :: head></th:block>
<body>

  <div class="container">
    <th:block th:replace="fragments/header :: header"></th:block>
    <h3><a href="/board">BOARD 1</a></h3>
    <form id="frm" method="post">
      <table class="board_detail">
        <tbody>
        <tr>
          <th scope="row">글 번호</th>
          <td th:text="${board.getId}"></td>
          <th scope="row">조회수</th>
          <td th:text="${board.viewCnt}"></td>
        </tr>
        <tr>
          <th scope="row">작성자</th>
          <td th:text="${board.writer}"></td>
          <th scope="row">작성일시</th>
          <td th:text="${#temporals.format(board.createdDatetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
          <th scope="row">제목</th>
          <td th:align="left" colspan="3" id="title" name="title" class="title" th:text="${board.title}"/></td>
        </tr>
        <tr>
          <td align="left" colspan="4" class="view_text" th:utext="${board.content}">
            <!--
            <textarea title="content" id="content" name="content" th:utext="${board.content}"></textarea> <-->
          </td>
        </tr>
        </tbody>
      </table>
      <input type="hidden" name="id" th:value="${board.getId}">
      <input type="hidden" id="method" name="_method" />
    </form>

    <div class="container">
      <a th:each="list : ${board.fileList}" th:text="|${list.originalFileName}(${list.fileSize} kb)|"></a>
    </div>

    <div class="btn-detail">
        <button class="btn-com2" id="list">LIST</button>
        <!--
        <button class="btn btn-primary" id="edit">EDIT</button>
        -->
        <button class="btn-com2" id="delete" name="delete">DELETE</button>
    </div>
  </div>

  <div class="container">
    <form name="commentInsertForm">
      <div class="comment-group">
        <input type="hidden" name="bid" th:value="${board.getId}"/>
        <input type="text" class="comment-insert" id="comContent" name="comContent" placeholder="COMMENT">
        <button class="btn-com" type="button" name="commentInsertBtn">SUBMIT</button>
      </div>
    </form>
  </div>

  <div class="container">
    <div class="commentList"></div>
  </div>
</div>




  <script type="text/javascript">

    var id = [[${board.id}]];

    $(document).ready(function(){
      $("#list").click(function(){
        location.href = "/board";
      });

      $("#edit").on("click", function(){
        $("input:hidden[name=_method]").val("put");
        var frm = $("#frm")[0];
        frm.action = "/board/"+$("input:hidden[name=id]").val();
        frm.submit();
      });

      $("#delete").click(function(){
        if(confirm('Are you sure you want to delete this post?')) {
          $("input:hidden[name=_method]").val("delete");
          var frm = $("#frm")[0];
          frm.action = "/board/" + $("input:hidden[name=id]").val();
          frm.submit();
        } else {
          return false;
        }

      });
    })

    var id = [[${board.id}]];

    $('[name=commentInsertBtn]').click(function(){
      var insertData = $('[name=commentInsertForm]').serialize();
      commentInsert(insertData);
    });

    function commentList(){
      $.ajax({
        url : '/comment/list',
        type : 'get',
        data : {'bid':id},
        success : function(data){
          var a ='';
          $.each(data, function(key, value){
            a += '<div class="commentArea" style="border-bottom:1px solid darkgray; margin-bottom: 15px;">';
            a += '<div class="commentContent'+value.id+'"> <p> ' + value.comWriter + ' </p> <p> '+ value.comContent;
            a += '<button class="btn-com2" style="float:right" onclick="commentDelete('+value.id+');"> DELETE </button>';
            a += '<button class="btn-com2" style="float:right" onclick="commentUpdate('+value.id+',\''+value.comContent+'\');"> EDIT </button> </p> </div>';
            a += '</div></div>'
          });
          $(".commentList").html(a);
        }
      });
    }

    function commentInsert(insertData){
      $.ajax({
        url : '/comment/new',
        type : 'post',
        data : insertData,
        success : function(){
            commentList();
            $('[name=comContent]').val('')
            $('[name=comWriter]').val('');
        }
      });
    }

    function commentUpdate(id, comContent){
      var a ='';
      a += '<div class="comment-group">';
      a += '<input type="text" class="comment-insert" name="content_'+id+'" value="'+comContent+'"/>';
      a += '<button class="btn-com" type="button" onclick="commentUpdateProc('+id+');">EDIT</button>';
      a += '</div>';
      $('.commentContent'+id).html(a);
    }

    function commentUpdateProc(id){
      var updateContent = $('[name=content_'+id+']').val();
      $.ajax({
        url : '/comment/'+id,
        type : 'put',
        data : {'comContent' : updateContent, 'id' : id},
        success : function(){
          commentList();
        }
      });
    }

    function commentDelete(id){
      $.ajax({
        url : '/comment/'+id,
        type : 'delete',
        success : function(){
          commentList();
        }
      });
    }

    $(document).ready(function(){
      commentList();
    });
  </script>

</div>
</body>
</html>