<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<th:block th:replace="fragments/head" :: head></th:block>
<body>
<form id="signup" name= "signup" method="post" action="/signUp">
    <div class="container">
        <h1>SIGN UP</h1>
        <div class="mb-3">
            <label for="username">ID</label>
            <input type="text" class="form-control" id="username" name="userName" placeholder="사용자 아이디">
        </div>
        <div class="mb-3">
            <label for="password">PASSWORD</label>
            <input type="password" class="form-control" id="password" name="userPw" placeholder="사용자 비밀번호">
        </div>
        <div class="mb-3">
            <label for="checkPassword">PASSWORD CHECK</label>
            <input type="password" class="form-control" id="checkPassword" name="password" placeholder="사용자 비밀번호 확인">
        </div>
        <button type="button" class="btn btn-primary" onclick="signUpSubmit(); return false;">SIGN UP</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function(){
    });

    function signUpSubmit() {
        if ($("#username").val() == null || $("#username").val() == "") {
            alert("Please input a valid user name");
            $("#username").focus();
            return false;
        }
        if ($("#password").val() == null || $("#password").val() == "") {
            alert("Please input a valid password");
            $("#password").focus();
            return false;
        }
        if ($("#checkPassword").val() == null || $("#checkPassword").val() == "") {
            alert("Please input a valid check password");
            $("#checkPassword").focus();
            return false;
        }
        if ($("#password").val() != $("#checkPassword").val()) {
            alert("Passwords do not match!")
            $("#checkPassword").focus();
            return false;
        }
        if (confirm("SIGN UP?")) {
            $("#signup").submit();
            return false;
        }
    }

</script>
</body>
</html>