<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
</head>
<body>
<form id="signup" name= "signup" method="post" action="/signUp">
    <div class="container">
        <h1>SIGN UP</h1>
        <div class="mb-3">
            <label for="username">ID</label>
            <input type="text" class="form-control" id="username" name="userName" placeholder="사용자 아이디">
        </div>
        <div class="mb-3">
            <label for="password">PASSWORD</label>
            <input type="password" class="form-control" id="password" name="userPw" placeholder="사용자 비밀번호">
        </div>
        <div class="mb-3">
            <label for="checkPassword">PASSWORD CHECK</label>
            <input type="password" class="form-control" id="checkPassword" name="password" placeholder="사용자 비밀번호 확인">
        </div>
        <button type="submit" class="btn btn-primary">SIGN UP</button>
    </div>
</form>
</body>
</html>